div#topo{
	width: 1200px;
	height: 100px;
	border: 1px solid #f00;
	margin: 0 auto;
	//background-color: #090;
}
div#menu_conteudo{
	width: 1200px;
	height: 400px;
	border: 1px solid #f00;
	margin: 0 auto;
}
div#menu{
	width: 200px;
	height: 400px;
	border: 1px solid #f00;
	margin: 0 auto;
	float: left;
	//background-color: #09f;
}
div#rodape{
	width: 1200px;
	height: 100px;
	border: 1px solid #f00;
	margin: 0 auto;
}