div#topo{
	width: 1200px;
	height: 200px;
	border: 1px solid #87CEFA;
	margin: 0 auto;
}
div#cabecalho{
	padding: 10px;
	width: 600px;
	margin: 0 auto;
	float: left;
	padding: 30px;
	//background-color: #09f;
}

div#menu_conteudo{
	width: 1200px;
	height: 1500px;
	border: 1px solid #87CEFA;
	margin: 0 auto;
}

div#menu{
	width: 200px;
	height: 1500px;
	border: 1px solid #87CEFA;
	margin: 0 auto;
	float: left;
	//background-color: #09f;
}
div#rodape{
	width: 1200px;
	height: 100px;
	border: 1px solid #87CEFA;
	margin: 0 auto;
}
div#barraAcessibilidade{
	width: 300px;
	height: 150px;
	border: 1px solid #87CEFA;
	margin: 25px 5px 5px;
	float: right;
}